In [1]:
# Standard imports
import urllib
import string
import re

In [2]:
# File with all 5 letter words in english has been downloaded to same folder.
#url = "https://www-cs-faculty.stanford.edu/~knuth/sgb-words.txt"

In [3]:
#File words_alpha is downloaded to same folder.
#import urllib.request
#urllib.request.urlretrieve('https://raw.githubusercontent.com/dwyl/english-words/master/words_alpha.txt', 'words_alpha.txt')

In [4]:
# Build up a list of the words (remove new line character) from first file - 
file1 = open('sgb-words.txt')
word_set = []
for line in file1:
    word_set.append(line.replace('\n',''))

In [5]:
len(word_set)

5757

In [6]:
# Append list of the words (remove new line character) from second file - 
#file2 = open('words_alpha.txt')
#for line in file2:
#    if len(line.replace('\n','')) == 5:
#        word_set.append(line.replace('\n',''))

In [7]:
len(word_set)

5757

In [8]:
# Converting to set will remove all duplicate words in this list
word_set = list(set(word_set))

In [9]:
len(word_set)

5757

In [10]:
# Generate a string of all letters
all_letters = string.ascii_lowercase[:]
all_letters

'abcdefghijklmnopqrstuvwxyz'

In [11]:
# Initialize a dictionary for the letter count and set to 0
letter_stats_dict = {}
for letter in all_letters:
    letter_stats_dict[letter]=0
letter_stats_dict

{'a': 0,
 'b': 0,
 'c': 0,
 'd': 0,
 'e': 0,
 'f': 0,
 'g': 0,
 'h': 0,
 'i': 0,
 'j': 0,
 'k': 0,
 'l': 0,
 'm': 0,
 'n': 0,
 'o': 0,
 'p': 0,
 'q': 0,
 'r': 0,
 's': 0,
 't': 0,
 'u': 0,
 'v': 0,
 'w': 0,
 'x': 0,
 'y': 0,
 'z': 0}

In [12]:
# We know the total number of letters...
total_letters = len(word_set)*5.0
total_letters

28785.0

In [13]:
# Now for each letter we look in each word and add the count of that letter in the given word
for letter in all_letters:
    for word in word_set:
        letter_stats_dict[letter]+=word.count(letter)

In [14]:
letter_stats_dict

{'a': 2348,
 'b': 715,
 'c': 964,
 'd': 1181,
 'e': 3009,
 'f': 561,
 'g': 679,
 'h': 814,
 'i': 1592,
 'j': 89,
 'k': 596,
 'l': 1586,
 'm': 843,
 'n': 1285,
 'o': 1915,
 'p': 955,
 'q': 53,
 'r': 1910,
 's': 3033,
 't': 1585,
 'u': 1089,
 'v': 318,
 'w': 505,
 'x': 139,
 'y': 886,
 'z': 135}

In [15]:
# Finally we divide by the total number of letters to get a percent chance
for letter in all_letters:
    letter_stats_dict[letter]=(letter_stats_dict[letter]/total_letters)*100
    #total = total + letter_stats_dict[letter]

In [16]:
letter_stats_dict

{'a': 8.157026228938683,
 'b': 2.4839326037866942,
 'c': 3.3489664755949278,
 'd': 4.102831335765156,
 'e': 10.453361125586243,
 'f': 1.948931735278791,
 'g': 2.3588674656939377,
 'h': 2.8278617335417753,
 'i': 5.530658328990794,
 'j': 0.30918881361820394,
 'k': 2.07052284175786,
 'l': 5.509814139308668,
 'm': 2.928608650338718,
 'n': 4.464130623588675,
 'o': 6.652770540211916,
 'p': 3.3177001910717387,
 'q': 0.18412367552544728,
 'r': 6.6354003821434775,
 's': 10.536737884314746,
 't': 5.50634010769498,
 'u': 3.783220427305888,
 'v': 1.1047420531526837,
 'w': 1.7543859649122806,
 'x': 0.4828903943025881,
 'y': 3.077992009727289,
 'z': 0.46899426784783743}

In [17]:
# Set up a word dictionary and initialize
word_stat_dict = {}
for word in word_set:
    word_stat_dict[word] = 0

In [18]:
# For each word find the unique set of characters and calculate the information score
for word in word_set:
    unq_char_word = "".join(set(word))
    for letter in unq_char_word:
        word_stat_dict[word]+=letter_stats_dict[letter]

In [19]:
# Sort the list from best to worst score
word_stat_dict = sorted(word_stat_dict.items(), key=lambda x:x[1],reverse=True)
word_stat_dict = dict(word_stat_dict)

In [20]:
# Print to find the first few entries in dictionary!
list(word_stat_dict.items())[:10]

[('arose', 42.43529616119507),
 ('arise', 41.31318394997395),
 ('raise', 41.31318394997395),
 ('aloes', 41.309709918360255),
 ('stoae', 41.30623588674657),
 ('reals', 41.29233976029182),
 ('earls', 41.29233976029182),
 ('laser', 41.29233976029182),
 ('rates', 41.28886572867813),
 ('tears', 41.28886572867813)]

In [21]:
import csv
with open('dict.csv', 'w') as csv_file:  
    writer = csv.writer(csv_file)
    for key, value in word_stat_dict.items():
       writer.writerow([key, value])

In [ ]:
# print and count words where there can be a duplicate character in the words
#i = 0 
#for word in word_set:
#    if len(set(word)) != len(word):
#        print(i, word)
#        i=i+1

In [98]:
import pandas as pd
df = pd.read_csv('dict.csv', header=None)

In [99]:
df.columns=['word','prob']

In [100]:
word_freq_dict=pd.read_excel('wordFrequency.xlsx', sheet_name='1 lemmas', usecols=['lemma','freq'])

In [56]:
#!pip install openpyxl

In [101]:
word_freq_dict= word_freq_dict.groupby(['lemma']).first().reset_index()

In [102]:
word_freq_dict

         lemma        freq
0        False     41580.0
1         True    235467.0
2            a  24225478.0
3          aah     12535.0
4      abandon     32838.0
...        ...         ...
4375     yours     46632.0
4376  yourself    168841.0
4377     youth     57132.0
4378      zero     22266.0
4379      zone     48403.0

[4380 rows x 2 columns]

In [103]:
df = pd.merge(df, word_freq_dict, how = 'left', left_on=['word'], right_on=['lemma'])

In [104]:
df = df.drop(['lemma'],axis=1)

In [105]:
df

       word       prob      freq
0     arose  42.435296       NaN
1     arise  41.313184   28915.0
2     raise  41.313184  190353.0
3     aloes  41.309710       NaN
4     stoae  41.306236       NaN
...     ...        ...       ...
5752  ohhhh   9.480632       NaN
5753  fuzzy   9.279138       NaN
5754  immix   8.942157       NaN
5755  yukky   8.931735       NaN
5756  gyppy   8.754560       NaN

[5757 rows x 3 columns]

In [106]:
#!pip install inflect

In [107]:
import inflect

In [108]:
inflect = inflect.engine()

In [109]:
inflect.singular_noun('word')

False

In [110]:
def check_plural(row):
    if inflect.singular_noun(row.word) == False:
        return('')
    else:
        return('Plural')

In [111]:
df['plural'] = df.apply(check_plural, axis=1)

In [112]:
df

       word       prob      freq  plural
0     arose  42.435296       NaN
1     arise  41.313184   28915.0
2     raise  41.313184  190353.0
3     aloes  41.309710       NaN  Plural
4     stoae  41.306236       NaN
...     ...        ...       ...     ...
5752  ohhhh   9.480632       NaN
5753  fuzzy   9.279138       NaN
5754  immix   8.942157       NaN
5755  yukky   8.931735       NaN
5756  gyppy   8.754560       NaN

[5757 rows x 4 columns]

In [113]:
df.to_csv('dict_new.csv', index = None)